  language: python
  python:
    - 3.6
  services:
    - postgresql
  addons:
    postgresql: "10.4"
  env:
    global:
      - PGPORT=5432
  install:
    - pip install -r requirements.txt
  before_script:
    - psql -c 'create database postgres;' -U postgres
  script:
    - python Lab2.\ MVC/routes/routes/manage.py makemigrations
    - python Lab2.\ MVC/routes/routes/manage.py migrate
    - python Lab2.\ MVC/routes/routes/manage.py test online
