<!DOCTYPE html>
<html>
<head>
    <title>Routes</title>
    {% load static %}
    <script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css">
</head>
<body>
{% csrf_token %}
<script type="text/javascript">
	webix.attachEvent("onBeforeAjax", function(mode, url, data, xhr, headers){
		var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
		headers["X-CSRFToken"] = key;
    });
    
    webix.ui({
    rows: [
        { view:"toolbar", elements:[
            { view:"button", value:"Delete route", width:100, click:function(){
                    var item =  $$("table").getSelectedItem();
                    if (item === undefined)
                        webix.alert("There are no selected routes.");
                    else {
                        webix.ajax().post("delroute/", { id: item.id}, function(text){
                            var res = JSON.parse(text);
                            if (res.status == "ok") { 
                                webix.message("Route was deleted.")
                                $$("lvl").clearAll();
                                $$("points").clearAll();
                                $$("table").remove($$("table").getSelectedId());
                            }
                            else {
                                webix.alert("Error while deleting!");
                            }
                             
                        });
                    }
                    
                }
            },
            { view:"button", value:"Delete point", width:100, click:function(){
                var item =  $$("points").getSelectedItem();
                if (item === undefined)
                    webix.alert("There are no selected points.");
                else {
                        var item_table =  $$("table").getSelectedItem();
                        webix.ajax().post("delpoint/", { id_route: item_table.id, id_point: item.id}, function(text){
                            var res = JSON.parse(text);
                            if (res.status == "ok") { 
                                    $$("points").remove($$("points").getSelectedId()); 
                                    webix.message("Points was deleted.");
                                    $$("lvl").clearAll();
                                    webix.ajax().post("getele/", { id: item_table.id}, function(text){
                                        var res = JSON.parse(text);
                                        var min_e = res.min;
                                        var max_e = res.max;
                                        var h = res.h;
                                        $$("lvl").define("data", res.eles);
                                        $$("lvl").define("yAxis", {start:min_e, end:max_e, step:h});
                                        $$("lvl").refresh();
                                });
                            }
                            else {
                                webix.alert("Error while deleting!");
                            }

                        });

                }
                }
            },
            { view:"button", value:"Delete all", width:100, click:function(){
                webix.ajax("deleteall/", function(text){
                        var ans = JSON.parse(text);
                        $$("table").clearAll();
                        $$("lvl").clearAll();
                        $$("points").clearAll();
                        webix.message(ans.n + " routes were deleted.");
                    });
                }
            },
          	{ view:"button", value:"Undo", width:100, click:function(){
                webix.ajax("undo/", function(text){
                    var ans = JSON.parse(text);
                    if (ans.status == "error") {
                        webix.alert("Error has occurred while processing!");
                    }
                    if (ans.status == "nothing") {
                        webix.alert("Nothing to undo!");
                    }
                    if (ans.status == "unknown operation") {
                        webix.alert("Unknown operation!");
                    }
                    if (ans.status == "server") {
                        if (ans.act == "remove") {
                        $$("table").remove(ans.val);
                        $$("table").refresh();
                        $$("lvl").clearAll();
                        $$("points").clearAll();
                        }

                        if (ans.act == "edit_route") {
                            $$("table").updateItem(ans.val.id, ans.val);
                            $$("table").refresh();
                        }

                        if (ans.act == "edit_point") {
                            $$("table").select(ans.val.id);
                            $$("points").define("data", ans.val.points);
                            $$("points").sort("id")
                            $$("points").refresh();
                            $$("lvl").clearAll();
                            webix.ajax().post("getele/", { id: ans.val.id}, function(text){
                                var res = JSON.parse(text);
                                var min_e = res.min;
                                var max_e = res.max;
                                var h = res.h;
                                $$("lvl").define("data", res.eles);
                                $$("lvl").define("yAxis", {start:min_e, end:max_e, step:h});
                                $$("lvl").refresh();
                        });
                        }

                        if (ans.act == "add") {
                            $$("table").add(ans.val);
                            $$("table").refresh();
                            $$("lvl").clearAll();
                            $$("points").clearAll();
                        }

                        

                    }
                    
                    });                  
                } 
            },
         	{ view:"button", value:"Redo", width:100, click:function() {
                webix.ajax("redo/", function(text){ 
                    var ans = JSON.parse(text);
                    if (ans.status == "error") {
                        webix.alert("Error has occurred while processing!");
                    }
                    if (ans.status == "nothing") {
                        webix.alert("Nothing to redo!");
                    }
                    if (ans.status == "unknown operation") {
                        webix.alert("Unknown operation!");
                    }

                    if (ans.status == "server") {
                        if (ans.act == "add") {
                        $$("table").add(ans.val);
                        $$("table").refresh();
                        $$("lvl").clearAll();
                        $$("points").clearAll();
                        }

                        if (ans.act == "edit_point") {
                            $$("table").select(ans.val.id);
                            $$("points").define("data", ans.val.points);
                            $$("points").sort("id")
                            $$("points").refresh();
                            $$("lvl").clearAll();
                            webix.ajax().post("getele/", { id: ans.val.id}, function(text){
                                var res = JSON.parse(text);
                                var min_e = res.min;
                                var max_e = res.max;
                                var h = res.h;
                                $$("lvl").define("data", res.eles);
                                $$("lvl").define("yAxis", {start:min_e, end:max_e, step:h});
                                $$("lvl").refresh();
                        });
                        }

                        if (ans.act == "edit_route") {
                            $$("table").updateItem(ans.val.id, ans.val);
                            $$("table").refresh();
                        }

                        if (ans.act == "remove") {
                        $$("table").remove(ans.val);
                        $$("table").refresh();
                        $$("lvl").clearAll();
                        $$("points").clearAll();
                        }
                    }

            
                }); 
             } 
             }
        ]},
        { cols:[
            { width:900, 
              id: "table",
              view:"datatable",
              select:"row",
              multiselect:false,
              editable:true,
              editaction:"dblclick",
              on:{
                    onBeforeLoad:function(){
                        this.showOverlay("Loading...");
                    },
                    onAfterLoad:function(){
                        this.hideOverlay();
                        if (!this.count())
                            this.showOverlay("Sorry, there is no data");
                    }, 
                    onFocus:function(current_view, prev_view){
                        var item = this.getSelectedItem();
                        webix.ajax().post("getpoints/", { id: item.id}, function(text){
                                var points = JSON.parse(text).points;
                                //alert(JSON.stringify(points));
                                $$("points").clearAll();
                                for (i in points) {
                                    $$("points").add(points[i]);
                                }
                        });
                        webix.ajax().post("getele/", { id: item.id}, function(text){
                                var res = JSON.parse(text);
                                var min_e = res.min;
                                var max_e = res.max;
                                var h = res.h;
                                $$("lvl").define("data", res.eles);
                                $$("lvl").define("yAxis", {start:min_e, end:max_e, step:h});
                                $$("lvl").refresh();
                        });
                    },
                    onAfterEditStop:function(state, editor, ignoreUpdate){
                        var item = this.getSelectedId();
                        webix.ajax().post("editroute/", { id: item.id, qual: item.column, val: state.value}, function(text){
                            var res = JSON.parse(text); 
                            if (res.status == 'ok') {
                                if(state.value != state.old){
                                webix.message("Cell value was changed")
                                }
                            }
                            else {
                                webix.alert("Invalid value! Try again!");
                            }

                            
                        });
                 
                    }
            },
				columns:[
    				{id:"id", header:"", width:50, sort:"int"},
                  	{id:"name", header:["Name", {content:"textFilter"}], width:450, editor:"text", fillspace:true},
                  	{id:"len", header:"Lenght", width: 150, fillspace:true},
                  	{id:"date", header:"Date", width:250, editor:"text", fillspace:true}
                  ],
                autoheight:true,
                data: {% if json_data  %} 
                    JSON.parse('{{ json_data|safe }}')
                    {% endif %}
                
            },
            {  
            view:"form", 
            id:"input_form",
            elements:[
                { 
                    view:"form", 
                    id:"gpx_form", 
                    elements:[
                    { view:"text", label:"Name", name:"name", value:"MyRoute1" },
                    { view:"text", label:"Polyline", name:"poly", value:"_p~iF~ps|U_ulLnnqC_mqNvxq`@" },
                    { view:"button", value:"Add" , type:"form", click:function(){
                                var values = $$("gpx_form").getValues();
                                webix.ajax().post("addpoly/", { name: values.name, poly: values.poly}, function(text){
                                        $$("table").add(JSON.parse(text));
                                        $$("table").hideOverlay();
                                        webix.message("Your post was added."); //show server side response
                                });
                    
                            
                    }}
                ]
                },
                { rows:[ 
                    { template:"or", type:"section"},
                    { 
                        view: "uploader", value: 'Upload file', 
                        //autosend:false,
                        id:"uploader",
                        name:"gpx",
                        link:"gpxlist", 
                        upload:"upload/",
                        on: {
                            onBeforeFileAdd:function(item){
                                var type = item.type.toLowerCase();
                                if (type != "gpx"){
                                    webix.alert("Sorry! Only GPX files are supported!");
                                    return false;
                                }
                            },
                            onFileUploadError:function(file, response) {
                                alert("Sorry! An error occurred while parsing the file!");
                                return false;
                            },
                            onFileUpload:function(response){
                                $$("table").add({ id:response.id, name:response.name[0], len:response.len, date:response.date});
                                $$("table").hideOverlay();
                                $$('table').refresh();
                                webix.message("Your post from " + response.name + " was added.");
                                return true;
                            }
                        }
                            
                    }, 
                    {
                        view:"list",  id:"gpxlist", type:"uploader",
                        autoheight:true, borderless:true
                    }
                ]}
            ]
        }
    ]}, 
      { cols:[
          {
            id:'lvl',
            width: 900,
            view:"chart",
            type:"splineArea",
            value:"#ele#",
            color:"#36abee",
            alpha:0.6,
            xAxis:{
                template:"#x#"
            },
            yAxis:{
                start:0,
                end:100,
                step:25
            },
            tooltip:{
                template: "#ele#"
            },
          }, 
          { 
            id:"points",
            view:"datatable", 
            select:"row",
            multiselect:false,
            editable:true,
            editaction:"dblclick",
            columns:[
    				{id:"id", header:"", width:50, sort:"int"},
                  	{id:"lon", header:"Longitude",  editor:"text", fillspace:true},
                    {id:"lat", header:"Latitute",  editor:"text", fillspace:true}, 
                    {id:"ele", header:"Sea Level", editor:"text", fillspace:true}, 
                  ],
            on: {
                onAfterEditStop:function(state, editor, ignoreUpdate){
                        var item = this.getSelectedId();
                        var route = $$("table").getSelectedId();
                        
                        webix.ajax().post("editpoint/", { id: item.id, id_route: route.id, qual: item.column, val: state.value}, function(text){
                            var res = JSON.parse(text); 
                            if (res.status == 'ok') {
                                if(state.value != state.old){
                                webix.message("Cell value was changed")
                                }
                                var ans = JSON.parse(text);
                                if (item.column == 'ele') {
                                    $$("lvl").clearAll();
                                    var min_e = ans.min;
                                    var max_e = ans.max;
                                    var h = ans.h;
                                    $$("lvl").define("data", ans.val);
                                    $$("lvl").define("yAxis", {start:min_e, end:max_e, step:h});
                                    $$("lvl").refresh();
                                }
                                else if (item.column == 'lon' || ite.column == 'lat') {
                                    var len_item = $$('table').getItem(route.id);
                                    len_item['len'] = ans.val;
                                    $$('table').refresh();
                                    //alert(JSON.stringify(len_item));
                                }
                            }
                            else {
                                webix.alert("Invalid value! Try again!");
                            }
                             
                        });
                        this.unselectAll();
                    }
            }
           }  
      ]}
    ]
});


</script>
</body>
</html>