<!DOCTYPE html>
<html>
<head>
    <title>Routes</title>
    {% load static %}
    <script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css">
</head>
<body>
{% csrf_token %}
<script type="text/javascript">
	webix.attachEvent("onBeforeAjax", function(mode, url, data, xhr, headers){
		var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
		headers["X-CSRFToken"] = key;
    });
    
    webix.ui({
    rows: [
        { view:"toolbar", elements:[
            { view:"button", value:"Delete route", width:100, click:function(){
                    var item =  $$("table").getSelectedItem();
                    if (item === undefined)
                        alert("There are no selected routes.");
                    else {
                        webix.ajax().post("delroute/", { id: item.id}, function(text){
                            webix.message("Route was deleted.")
                            $$("lvl").clearAll();
                            $$("points").clearAll();
                            $$("table").remove($$("table").getSelectedId()); 
                        });
                    }
                    
                }
            },
            { view:"button", value:"Delete point", width:100, click:function(){
                var item =  $$("points").getSelectedItem();
                if (item === undefined)
                        alert("There are no selected points.");
                else {
                        var item_table =  $$("table").getSelectedItem();
                        webix.ajax().post("delpoint/", { id_route: item_table.id, id_point: item.id}, function(text){
                            $$("points").remove($$("points").getSelectedId()); 
                            webix.message("Points was deleted.");
                            $$("lvl").clearAll();
                            webix.ajax().post("getele/", { id: item_table.id}, function(text){
                                var res = JSON.parse(text);
                                var min_e = res.min;
                                var max_e = res.max;
                                var h = res.h;
                                $$("lvl").define("data", res.eles);
                                $$("lvl").define("yAxis", {start:min_e, end:max_e, step:h});
                                $$("lvl").refresh();
                        });

                        });

                }
            }
            },
          	{ view:"button", value:"Undo", width:100 },
         	{ view:"button", value:"Redo", width:100 }
        ]},
        { cols:[
            { width:900, 
              id: "table",
              view:"datatable",
              select:"row",
              multiselect:false,
              editable:true,
              editaction:"dblclick",
              on:{
                    onBeforeLoad:function(){
                        this.showOverlay("Loading...");
                    },
                    onAfterLoad:function(){
                        this.hideOverlay();
                        if (!this.count())
                            this.showOverlay("Sorry, there is no data");
                    }, 
                    onFocus:function(current_view, prev_view){
                        var item = this.getSelectedItem();
                        webix.ajax().post("getpoints/", { id: item.id}, function(text){
                                var points = JSON.parse(text).points;
                                //alert(JSON.stringify(points));
                                $$("points").clearAll();
                                for (i in points) {
                                    $$("points").add(points[i]);
                                }
                        });

                        webix.ajax().post("getele/", { id: item.id}, function(text){
                                var res = JSON.parse(text);
                                var min_e = res.min;
                                var max_e = res.max;
                                var h = res.h;
                                $$("lvl").define("data", res.eles);
                                $$("lvl").define("yAxis", {start:min_e, end:max_e, step:h});
                                $$("lvl").refresh();
                        });
                    },
                    onAfterEditStop:function(state, editor, ignoreUpdate){
                        if(state.value != state.old){
                            webix.message("Cell value was changed")
                        }
                    }
            },
				columns:[
    				{id:"id", header:"", width:50, sort:"int"},
                  	{id:"name", header:["Name", {content:"textFilter"}], width:450, editor:"text", fillspace:true},
                  	{id:"len", header:"Lenght", width: 150, fillspace:true},
                  	{id:"date", header:"Date", width:250, editor:"text", fillspace:true}
                  ],
                autoheight:true,
                data: [{% if json_data  %} 
                    JSON.parse('{{ json_data|safe }}')
                    {% endif %}
                ]
            },
            {  
            view:"form", 
            id:"input_form",
            elements:[
                { 
                    view:"form", 
                    id:"gpx_form", 
                    elements:[
                    { view:"text", label:"Name", name:"name", value:"MyRoute1" },
                    { view:"text", label:"Polyline", name:"poly", value:"_p~iF~ps|U_ulLnnqC_mqNvxq`@" }]} ,
                { rows:[ 
                    { template:"or", type:"section"},
                    { 
                        view: "uploader", value: 'Upload file', 
                        name:"gpx",
                        link:"gpxlist", 
                        upload:"https://docs.webix.com/samples/21_upload/php/upload.php" 
                    },
                    {
                        view:"list",  id:"gpxlist", type:"uploader",
                        autoheight:true, borderless:true	
                        },
                ]},
                { margin:5, 
                    cols:[
                    { view:"button", value:"Add" , type:"form", click:function(){
                            var values = $$("gpx_form").getValues();
                            webix.ajax().post("addpoly/", { name: values.name, poly: values.poly}, function(text){
                                $$("table").add(JSON.parse(text));
                                $$("table").hideOverlay();
                            webix.message("Your post was added."); //show server side response
                        });
                    }}
                ]}
            ]
        }
    ]}, 
      { cols:[
          {
            id:'lvl',
            width: 900,
            view:"chart",
            type:"splineArea",
            value:"#ele#",
            color:"#36abee",
            alpha:0.6,
            xAxis:{
                template:"#x#"
            },
            yAxis:{
                start:0,
                end:100,
                step:25
            },
            tooltip:{
                template: "#ele#"
            },
          }, 
          { 
            id:"points",
            view:"datatable", 
            select:"row",
            multiselect:false,
            editable:true,
            editaction:"dblclick",
            columns:[
    				{id:"id", header:"", width:50, editor:"text", sort:"int"},
                  	{id:"lon", header:"Longitude",  editor:"text", fillspace:true},
                    {id:"lat", header:"Latitute",  editor:"text", fillspace:true}, 
                    {id:"ele", header:"Sea Level", editor:"text", fillspace:true}, 
                  ]
           }  
      ]}
    ]
});


</script>
</body>
</html>