<!DOCTYPE html>
<html>
<head>
    <title>Routes</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'webix.js' %}"></script>
    <script type="text/javascript" src="{% static 'skin.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'webix.css' %} ">
</head>
<body>
{% csrf_token %}
<script type="text/javascript">
	webix.attachEvent("onBeforeAjax", function(mode, url, data, xhr, headers){
		var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
		headers["X-CSRFToken"] = key;
    });
    
    webix.ui({
    rows: [
        { view:"toolbar", elements:[
            { view:"button", value:"Delete", width:100, click:function(){
				$$("table").remove($$("table").getSelectedId()); }},
          	{ view:"button", value:"Update", width:100 },
          	{ view:"button", value:"Undo", width:100 },
         	{ view:"button", value:"Redo", width:100 }
        ]},
        { cols:[
            { width:900, 
              id: "table",
              view:"datatable",
              select:"row",
              multiselect:false,
		      editable:true, 
              on:{
                    onBeforeLoad:function(){
                        this.showOverlay("Loading...");
                    },
                    onAfterLoad:function(){
                        this.hideOverlay();
                        if (!this.count())
                            this.showOverlay("Sorry, there is no data");
                    }, 
                    onFocus:function(current_view, prev_view){
                        //alert(current_view, prev_view);
                        var item = this.getSelectedItem();
                        alert(item);
                    }
            },
				columns:[
    				{id:"id", header:"", width:50, sort:"int"},
                  	{id:"name", header:["Name", {content:"textFilter"}], width:450, adjust:"data", fillspace:true},
                  	{id:"len", header:"Lenght", width: 150, fillspace:true},
                  	{id:"date", header:"Date", width:250, adjust:"data", fillspace:true}
                  ],
             autoheight:true,
             scrollX:false,
            data: [{% if json_data  %} 
                    JSON.parse('{{ json_data|safe }}')
                    {% endif %}
                ]
            //  data: [
            //  {id:1, name:"bla", len:10, date:'10.07.98'}
            //  ]
            },
            {  
            view:"form", 
            id:"input_form",
            elements:[
                { 
                    view:"form", 
                    id:"gpx_form", 
                    elements:[
                    { view:"text", label:"Name", name:"name", value:"MyRoute1" },
                    { view:"text", label:"Polyline", name:"poly", value:"_p~iF~ps|U_ulLnnqC_mqNvxq`@" }]} ,
                { rows:[ 
                    { template:"or", type:"section"},
                    { 
                        view: "uploader", value: 'Upload file', 
                        name:"gpx",
                        link:"gpxlist", 
                        upload:"https://docs.webix.com/samples/21_upload/php/upload.php" 
                    },
                    {
                        view:"list",  id:"gpxlist", type:"uploader",
                        autoheight:true, borderless:true	
                        },
                ]},
                { margin:5, cols:[
                    { view:"button", value:"Add" , type:"form", click:function(){
                            var values = $$("gpx_form").getValues();
                            webix.ajax().post("addpoly/", { name: values.name, poly: values.poly}, function(text){
                                $$("table").add(JSON.parse(text));
                            webix.message("Your post was added."); //show server side response
                        });
                    }}
                ]}
            ]
        }
    ]}, 
      { cols:[
          {
            view:"chart",
            type:"line",
            width: 900,
            value:"#sales#",
            item:{
                borderColor: "#ffffff",
                color: "#2b7100"
                
            },
            tooltip:{
                template:"#sales#"
            },
            line:{
                color:"#8ecf03",
                width:2,
                shadow:true
            },
            
            xAxis:{
                template:"'#year#"
            },
            yAxis:{
                start:0,
                step:10,
                end:100,
                template:function(value){
                return value%20?"":value
                }
            },
            //data: dataset
          }, 
          { 
            view:"datatable", 
            columns:[
    				{id:"id", header:"", width:50, sort:"int"},
                  	{id:"lon", header:"Longitude",  fillspace:true},
                  	{id:"lat", header:"Latitute",  fillspace:true}
                  ]
           }  
      ]}
    ]
});


</script>
</body>
</html>